.square {
    -fx-border-style: solid;
}
.square-diagonal {
    -fx-border-color: red;
}
.square-finish {
    -fx-border-color: green;
}

.selected {
    -fx-background-color: silver;
}

.square-diagonal, .square-finish{
    -fx-border-width: 2;
}

.selectable {
    -fx-border-width: 5;
}

.square:hover {
    -fx-background-color: rgba(201, 155, 155, 0.47);
}

.square-diagonal:hover{
    -fx-background-color: rgba(239, 28, 28, 0.39);
}

.square-finish:hover{
    -fx-background-color: rgba(173, 229, 129, 0.47);
}